@media (min-width: 1026px) {
    .rainy-img {
        width: 583px;
    }
}

@media (max-width: 1025px) {
    .screenshot {
        margin-top: 30px;
    }
}

/* @media (max-width: 1251px) {
    .about-image {
        margin: 50px 50px 0 50px;
        max-width: 100%;
        height: auto;
    }

    .about-text {
        margin-top: -100px;
    }
} */

@media (max-width: 845px) {
    .about-button {
        margin-top: 10px;
    }
}

@media (min-width: 480px) {
    /* .about-text {
        margin-top: 20px;
    } */
       /* .about-text {
        display: block;
       } */
    /* .about-image {
        margin: 50px 50px 50px 50px;
        max-width: 100%;
        height: auto;
    }
    
    .about-text {
        margin-top: -320px;
    } */
}

/* @media (max-width: 472px) {
    nav a {
        font-size: 2vw;
    }
} */

