@media (min-width: 1026px) {
    .rainy-img {
        width: 583px;
    }
}

@media (max-width: 1025px) {
    .screenshot {
        margin-top: 30px;
    }
}

@media (max-width: 1251px) {
    .about-image {
        margin: 50px 50px 0 50px;
        max-width: 100%;
        height: auto;
    }

    .about-text {
        margin-top: -100px;
    }

    /* .about-text h1 {
        font-size: 2vw;   
    }
    
    .about-text h2 {
        font-size: 1vw;
        /* margin-bottom: -5px; */
    } */
} 