@font-face {
    font-family: "Segoe UI", sans-serif ;
    src: url("http://fonts.cdnfonts.com/css/segoe-ui-4");
}

:root {
    --black-color: rgb(0, 0, 0);
    --gray-color: rgb(56, 56, 56);
    /* --darkgray-color : rgb(39, 39, 39); */
    /* --white-color: rgb(255, 255, 255);
    --menta-color: rgb(46, 212, 156);
    --green-color: 	rgb(15, 36, 29); */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    flex-wrap: wrap;
}

nav li a {
    color: var(--gray-color);
    text-decoration: none;
    font-size: 30px;
    padding-right: 50px;
    padding-top: 200px;
}

.active {
    font-weight: bold;
    text-decoration: underline;
}

.social-media i {
    font-size: 2em;
}

.project-buttons {
    display: flex;
    grid-gap: 10px;
    margin-top: 140px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.hero {
    width: 292px;
    margin-right: 20px;
}

.hand {
    width: 200px;
    height: 24
    0px;
}

.baby {
    width: 298px;
    padding-top: 29px;
}

.about-button {
    margin-top: 138px;
    margin-left: 18px;
}

.about-button a {
    color: var(--gray-color);
    text-decoration: none;
    text-align: center;
}

.screenshots {
    /* margin-left: 50px; */
    display: flex;
    grid-gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.screenshots h1, h2, h3 {
    color: var(--black-color);
}

.screenshots h1 {
    font-size: 30px;
}

.screenshots h2 {
    font-size: 15px;
}

.screenshots h3 {
    font-size: 14px;
}

/* .about {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    flex-wrap: wrap;
} */

.about-image {
    /* width: 300px; */
    background-image: url("../images/me.jpg");
    /* margin: 50px; */
    background-size: contain;
    background-repeat: no-repeat;
    /* min-height: 200px; */
    margin: 50px;
    min-height: 476px;
    /* float: left; */
}

.about-image:hover {
    background-image: url("../images/me-color.jpg");
}

.about-text {
    float: right;
    margin-top: -475px;
}

.about-text h1 {
    font-size: 40px;   
}

.about-text h2 {
    font-size: 30px;
}